# Dependencies
node_modules/

# secrets
*.json
serviceAccountKey.json
*-privatekey.json

# build
target/


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db
.tmb

# Expo
.expo/
web-build/
dist/
.jsc/
.npm/

# Backend
backend/dist/
backend/build/
backend/coverage/

# Misc
.vscode/
.idea/
*.swp
